<!DOCTYPE html>
<html>
  <head>
    <title>SocialGoalsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= button_to "Log Out", session_url, method: :delete  %>
    <% else %>
      <%= link_to "Returning users", new_session_url %>
      <%= link_to "Create an Account", new_user_url %>
    <% end %>
    <%= yield %>
  </body>
</html>
